<div class="game-wrapper" [style.width]="(gridSize * 25) + 'px'" [style.height]="gridSize * 20 + 30 + 50 +  'px'">

  <div class="statusbar">

  </div>

  <div class="game-area" dropzone="move">
    <div class="indicator"></div>

    <table cellspacing="0" cellpadding="0">
      <tr class="row" *ngFor="let row of grid">
        <td dropzone="copy"
            class="entity"
            *ngFor="let entity of row"

            (dragenter)="onDragEnter($event)"
            (dragleave)="onDragLeave($event)"
            (dragover)="onDragOver($event)"
            (drop)="onDrop($event)"

            [ngClass]="{'debug':entity.debug}"

            [style.top]="entity.position.y * gridSize"
            [style.left]="entity.position.x * gridSize"

            [style.backgroundColor]="entity.color"
            [attr.data-positionx]="entity.position.x"
            [attr.data-positiony]="entity.position.y"
        ></td>
      </tr>
    </table>

  </div>

  <div class="toolbar">
    <div *ngFor="let tower of possibleTower; index as i"
         class="entity"
         ngClass="tower.name"
         draggable="true"
         [style.backgroundColor]="tower.color"
         (drag)="onDrag($event, i)">
      D: {{tower.damage}}
    </div>
  </div>
</div>
