:host {
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.game-wrapper {
    background-color: white;
    display: flex;
    flex-direction: column;
}

.toolbar,
.game-area {
    width: 100%;
}

.statusbar {
    height: 30px;
    background-color: rgb(117, 115, 122);
    flex-grow: 0;
}

.toolbar {
    height: 50px;
    background-color: rgb(117, 115, 122);
    flex-grow: 0;
    flex-wrap: wrap;



    .entity {
        height: 35px;
        width: 35px;
    }

    .base-tower {
        background-color: chocolate;
    }
}

.game-area {
    flex-grow: 1;

    table {
        height: 100%;
        width: 100%;

        * {
            border: 0;
            padding: 0;
            margin: 0;
        }

        td {
            height: 35px;
            width: 35px;

            &.debug {
                background-color: chartreuse!important;
            }
        }
    }

    .indicator {
        display: none;
        background-color: mix(chocolate, black);
    }
}
